.hero {
  animation: 10s linear infinite swipe;
  background: linear-gradient(-90deg, #6d6d6d25 1px, transparent 0),
  linear-gradient(#6d6d6d25 1px, transparent 0),
  linear-gradient(-90deg, #6d6d6d25 1px, transparent 0),
  linear-gradient(#6d6d6d25 1px, transparent 0),
  linear-gradient(transparent 6px, transparent 0, transparent 156px, transparent 0),
  linear-gradient(-90deg, #6d6d6d25 1px, transparent 0),
  linear-gradient(-90deg, transparent 6px, transparent 0, transparent 156px, transparent 0),
  linear-gradient(#6d6d6d25 1px, transparent 0), 0 0;
  background-size: 32px 32px, 32px 32px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px;
  @apply relative;
}

.hero::after {
  content: "";
  inset: 70% 0 0;
  position: absolute;
  @apply bg-gradient-to-b from-transparent to-white dark:to-neutral-950;
}

@keyframes swipe {
  0% {
    background-position: 0 calc(32px * 8);
  }
  100% {
    background-position: 0 0;
  }
}
