@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  @apply bg-white text-neutral-800;
  @apply dark:bg-neutral-950 dark:text-neutral-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-up-in {
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeUpIn 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes fadeUpIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
