.shiki,
.shiki span {
  background-color: #f7f7f7 !important;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* 可选，用于定义字体样式 */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

.post-prose {
  @apply prose prose-neutral dark:prose-invert max-w-none;
  @apply prose-headings:font-medium prose-headings:text-default-700 dark:prose-headings:text-default-600;
  @apply prose-p:text-default-500 prose-strong:text-default-600;
  @apply prose-a:text-default-600 prose-a:no-underline prose-a:border-b-2 prose-a:border-neutral-300 hover:prose-a:border-neutral-500 prose-a:transition;
  @apply prose-img:shadow-md prose-img:rounded-lg prose-img:border prose-img:border-neutral-300 dark:prose-img:border-neutral-700 prose-img:w-full;
}

.post-prose {

  h1,
  h2,
  h3,
  h4 {
    @apply relative;

    &:before {
      content: '#';
      @apply md:absolute md:block hidden -left-6 text-neutral-200 transition-colors duration-150;
    }

    &:hover:before {
      @apply text-neutral-400;
    }
  }

  h2 {
    @apply mt-12 mb-4 text-2xl;
  }

  h3 {
    @apply mt-8 mb-2 text-xl;
  }

  h4 {
    @apply border-b border-dashed border-neutral-300 dark:border-neutral-700 w-fit;

    &:before {
      content: '·';
      @apply text-lg font-black -left-4;
    }
  }
}

.katex-html {
  @apply hidden;
}